:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #fff;
    display:  flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 80px;
}

.card{
    border-radius: 10px;
    border-color: #4c4c4c;
    border: 1px #ddd solid;
    width: 300px;
    display: flex;
    justify-content: start;
    padding: 2rem;
}
.titulo{
    font-weight: 400;
    text-transform: capitalize;
    font-size: 2rem;
    margin: 0;
}
.subtitulo{
    
    font-weight: 500;
    text-transform: capitalize;
    font-size: .9rem;
}
.input-correo{
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
    outline: 0;
    width: 100%;
}
.container{
    width: 100% ;
}
.btn-general{
    display: flex;
    margin-top: 15px;
    background-color: #FFD814;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
    outline: 0;
    width: 100%;
    text-transform: capitalize;
    box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.33);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.btn-general:hover{
    background-color: #F7CA00;
}
.texto-simple{
    font-size: 13px;
}
.vinculos{
    text-decoration: none;
    color: #5CADE4;

}
.vinculos:hover{
    color: #C45552;
    text-decoration:underline;

}
hr{
    height: 1px;
    border-width: 0;
    border-top: 1px solid #e7e7e7;
    line-height: 19px;
    margin-top: 14px;
    margin-bottom: 14px;    
}
.crea-cuenta{
    width: 350px;
    background-color: transparent;    
    border: 1px solid #e7e7e7;
    
box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.33);
}
.vinculos-container{
    margin-top: 10px;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.vinculos-container>a{
    font-size: 13px;
}
.separados{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.separados>h3{
    margin: 0;
    margin-top: 1rem;
}
.footer{
    margin-top: 3rem;
}
.invisible-conatiner{    
    width: 350px;
}